<a href="https://colab.research.google.com/github/Monicarys/introduction_to_ml_with_python/blob/master/automatizacion_ver_meses.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import os

In [2]:
#Muestra los archivos
os.listdir()

['.config', 'D_Lerma.xlsm', 'D_AcambaydeRuízCastañeda.xlsm', 'sample_data']

In [45]:
#Hacemos una lista de los archivos con terminacion .xlsm
archivos=[file for file in os.listdir() if ".xlsm" in file]

In [138]:
df2= pd.DataFrame()
df2['Entidad'] = None
df2 = df2.assign(Módulo=None, Si=None, No=None, Total=None, PorcentajeCumplimientoOctubre=None, PorcentajeTrimestral=None, )

for archivo in archivos:
  df=pd.read_excel(archivo)
  M1=df.iloc[11:49, 6:15] 
  M1si=(M1=="si").sum().sum()
  M1no=(M1=="no").sum().sum()
  M1total=M1si+M1no
  M1porcerntaje= M1si /(M1si + M1no)*100 

  M1oct=df.iloc[11:49,6:9]
  M1octsi=(M1oct=="si").sum().sum()
  M1octno=(M1oct=="no").sum().sum()
  M1octtotal=M1octsi+M1octno
  M1octporcentaje= M1octsi /(M1octsi + M1octno)*100 




  filaM1= {"Entidad": (str(archivo)[:-5])[2:], 'Módulo': 1, 'Si': M1si, 'No': M1no , 'Total': M1total , 'PorcentajeTrimestral' : M1porcerntaje, 'PorcentajeCumplimientoOctubre' : M1octporcentaje } # creamos un diccionario
  df2 = df2.append(filaM1, ignore_index=True)


  M2=df.iloc[58:81, 6:15]
  M2si=(M2=="si").sum().sum()
  M2no=(M2=="no").sum().sum()
  M2total=M2si+M2no
  M2porcerntaje= M2si /(M2si + M2no)*100 

  M2oct=df.iloc[58:81,6:9]
  M2octsi=(M2oct=="si").sum().sum()
  M2octno=(M2oct=="no").sum().sum()
  M2octtotal=M2octsi+M2octno
  M2octporcentaje= M2octsi /(M2octsi + M2octno)*100 

  filaM2= { "Entidad": (str(archivo)[:-5])[2:], 'Módulo': 2, 'Si': M2si, 'No': M2no , 'Total': M2total , 'PorcentajeTrimestral' : M2porcerntaje , 'PorcentajeCumplimientoOctubre' : M2octporcentaje} # creamos un diccionario
  df2 = df2.append(filaM2, ignore_index=True)


  M3=df.iloc[89:98, 6:15]
  M3si=(M3=="si").sum().sum()
  M3no=(M3=="no").sum().sum()
  M3total=M3si+M3no
  M3porcerntaje= M3si /(M3si + M3no)*100 

  


  filaM3= {"Entidad": (str(archivo)[:-5])[2:] ,'Módulo': 3, 'Si': M3si, 'No': M3no , 'Total': M3total , 'PorcentajeTrimestral' : M3porcerntaje} # creamos un diccionario
  df2 = df2.append(filaM3, ignore_index=True)

  M4=df.iloc[106:128, 6:15]
  M4si=(M4=="si").sum().sum()
  M4no=(M4=="no").sum().sum()
  M4total=M4si+M4no
  M4porcerntaje= M4si /(M4si + M4no)*100 
  filaM4= {  "Entidad": (str(archivo)[:-5])[2:], 'Módulo': 4, 'Si': M4si, 'No': M4no , 'Total': M4total , 'PorcentajeTrimestral' : M4porcerntaje} # creamos un diccionario
  df2 = df2.append(filaM4, ignore_index=True)
  
print(df2)

/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

                  Entidad  ... PorcentajeTrimestral
0                   Lerma  ...            50.000000
1                   Lerma  ...            45.454545
2                   Lerma  ...            25.000000
3                   Lerma  ...            50.000000
4  AcambaydeRuízCastañeda  ...            57.377049
5  AcambaydeRuízCastañeda  ...            50.000000
6  AcambaydeRuízCastañeda  ...            66.666667
7  AcambaydeRuízCastañeda  ...            50.000000

[8 rows x 7 columns]

In [178]:
df2= pd.DataFrame()
df2['Entidad'] = None
df2 = df2.assign(Tipo=None, Módulo=None, Si=None, No=None, Total=None, PorcentajeCumplimientoOctubre=None, PorcentajeCumplimientoNoviembre=None, PorcentajeTrimestral=None, )

for archivo in archivos:
  df=pd.read_excel(archivo)
  M1=df.iloc[11:49, 6:15] 
  M1si=(M1=="si").sum().sum()
  M1no=(M1=="no").sum().sum()
  M1total=M1si+M1no
  M1porcerntaje= M1si /(M1si + M1no)*100 

  M1oct=df.iloc[11:49,6:9]
  M1octsi=(M1oct=="si").sum().sum()
  M1octno=(M1oct=="no").sum().sum()
  M1octtotal=M1octsi+M1octno
  M1octporcentaje= M1octsi /(M1octsi + M1octno)*100 

  M1nov=df.iloc[11:49,9:12]
  M1novsi=(M1nov=="si").sum().sum()
  M1novno=(M1nov=="no").sum().sum()
  M1novtotal=M1novsi+M1novno
  M1novporcentaje= M1novsi /(M1novsi + M1novno)*100 

  filaM1= {"Entidad": (str(archivo)[:-5])[2:], 'Tipo':str(archivo)[0], 'Módulo': 1, 'Si': M1si, 'No': M1no , 'Total': M1total , 'PorcentajeTrimestral' : M1porcerntaje, 'PorcentajeCumplimientoOctubre' : M1octporcentaje , 'PorcentajeCumplimientoNoviembre':M1novporcentaje} # creamos un diccionario
  df2 = df2.append(filaM1, ignore_index=True)


  M2=df.iloc[58:81, 6:15]
  M2si=(M2=="si").sum().sum()
  M2no=(M2=="no").sum().sum()
  M2total=M2si+M2no
  M2porcerntaje= M2si /(M2si + M2no)*100 

  M2oct=df.iloc[58:81,6:9]
  M2octsi=(M2oct=="si").sum().sum()
  M2octno=(M2oct=="no").sum().sum()
  M2octtotal=M2octsi+M2octno
  M2octporcentaje= M2octsi /(M2octsi + M2octno)*100 

  filaM2= { "Entidad": (str(archivo)[:-5])[2:], 'Tipo':str(archivo)[0], 'Módulo': 2, 'Si': M2si, 'No': M2no , 'Total': M2total , 'PorcentajeTrimestral' : M2porcerntaje , 'PorcentajeCumplimientoOctubre' : M2octporcentaje} # creamos un diccionario
  df2 = df2.append(filaM2, ignore_index=True)


  M3=df.iloc[89:98, 6:15]
  M3si=(M3=="si").sum().sum()
  M3no=(M3=="no").sum().sum()
  M3total=M3si+M3no
  M3porcerntaje= M3si /(M3si + M3no)*100 

  M3oct=df.iloc[89:98,6:9]
  M3octsi=(M3oct=="si").sum().sum()
  M3octno=(M3oct=="no").sum().sum()
  M3octtotal=M3octsi+M3octno
  M3octporcentaje= M3octsi /(M3octsi + M3octno)*100 

  filaM3= {"Entidad": (str(archivo)[:-5])[2:] , 'Tipo':str(archivo)[0], 'Módulo': 3, 'Si': M3si, 'No': M3no , 'Total': M3total , 'PorcentajeTrimestral' : M3porcerntaje, 'PorcentajeCumplimientoOctubre' : M3octporcentaje} # creamos un diccionario
  df2 = df2.append(filaM3, ignore_index=True)


  M4=df.iloc[106:128, 6:15]
  M4si=(M4=="si").sum().sum()
  M4no=(M4=="no").sum().sum()
  M4total=M4si+M4no
  M4porcerntaje= M4si /(M4si + M4no)*100 

  M4oct=df.iloc[106:128,6:9]
  M4octsi=(M4oct=="si").sum().sum()
  M4octno=(M4oct=="no").sum().sum()
  M4octtotal=M4octsi+M4octno
  M4octporcentaje= M4octsi /(M4octsi + M4octno)*100 

  filaM4= {  "Entidad": (str(archivo)[:-5])[2:], 'Tipo':str(archivo)[0],  'Módulo': 4, 'Si': M4si, 'No': M4no , 'Total': M4total , 'PorcentajeTrimestral' : M4porcerntaje, 'PorcentajeCumplimientoOctubre' : M4octporcentaje} # creamos un diccionario
  df2 = df2.append(filaM4, ignore_index=True)
  
print(df2)

/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:55: RuntimeWarning: invalid value encountered in long_scalars
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:71: RuntimeWarning: invalid value encountered in long_scalars

                  Entidad  ... PorcentajeTrimestral
0                   Lerma  ...            50.000000
1                   Lerma  ...            45.454545
2                   Lerma  ...            25.000000
3                   Lerma  ...            50.000000
4  AcambaydeRuízCastañeda  ...            57.377049
5  AcambaydeRuízCastañeda  ...            50.000000
6  AcambaydeRuízCastañeda  ...            66.666667
7  AcambaydeRuízCastañeda  ...            50.000000

[8 rows x 9 columns]

In [179]:
df2[0:9]

                  Entidad  ... PorcentajeTrimestral
0                   Lerma  ...            50.000000
1                   Lerma  ...            45.454545
2                   Lerma  ...            25.000000
3                   Lerma  ...            50.000000
4  AcambaydeRuízCastañeda  ...            57.377049
5  AcambaydeRuízCastañeda  ...            50.000000
6  AcambaydeRuízCastañeda  ...            66.666667
7  AcambaydeRuízCastañeda  ...            50.000000

[8 rows x 9 columns]

In [73]:
#exportamos la tabla a un exel 
df2.to_excel(r'/content/drive\resultado.xlsx', index = False)

In [102]:
pwd

'/content'

In [104]:
#Muestra los archivos
os.listdir('/content')

['.config',
 'drive\\resultado.xlsx',
 'drive',
 'D_Lerma.xlsm',
 'D_AcambaydeRuízCastañeda.xlsm',
 'sample_data']

In [111]:
print(M1)

   Unnamed: 6 Unnamed: 7 Unnamed: 8  ... Unnamed: 12 Unnamed: 13 Unnamed: 14
11         si         si        NaN  ...          si          si         NaN
12        NaN        NaN        NaN  ...         NaN         NaN         NaN
13         no         si        NaN  ...          no          no         NaN
14         si         no        NaN  ...          si          si         NaN
15         si         si        NaN  ...          no          no         NaN
16         si         no        NaN  ...          si          si         NaN
17         si         si        NaN  ...          no          no         NaN
18         no         si        NaN  ...          si          no         NaN
19         no         si        NaN  ...          si          no         NaN
20         si         si        NaN  ...          si          no         NaN
21         no        NaN        NaN  ...          si          no         NaN
22        NaN        NaN        NaN  ...          si         NaN         NaN
23        NaN        NaN        NaN  ...         NaN         NaN         NaN
24        NaN        NaN        NaN  ...         NaN         NaN         NaN
25        NaN        NaN        NaN  ...         NaN         NaN         NaN
26        NaN        NaN        NaN  ...         NaN         NaN         NaN
27        NaN        NaN        NaN  ...         NaN         NaN         NaN
28        NaN        NaN        NaN  ...         NaN         NaN         NaN
29        NaN        NaN        NaN  ...         NaN         NaN         NaN
30        NaN        NaN        NaN  ...         NaN         NaN         NaN
31        NaN        NaN        NaN  ...         NaN         NaN         NaN
32        NaN        NaN        NaN  ...         NaN         NaN         NaN
33        NaN        NaN        NaN  ...         NaN         NaN         NaN
34        NaN        NaN        NaN  ...         NaN         NaN         NaN
35        NaN        NaN        NaN  ...         NaN         NaN         NaN
36        NaN        NaN        NaN  ...         NaN         NaN         NaN
37        NaN        NaN        NaN  ...         NaN         NaN         NaN
38        NaN        NaN        NaN  ...         NaN         NaN         NaN
39        NaN        NaN        NaN  ...         NaN         NaN         NaN
40        NaN        NaN        NaN  ...         NaN         NaN         NaN
41        NaN        NaN        NaN  ...         NaN         NaN         NaN
42        NaN        NaN        NaN  ...         NaN         NaN         NaN
43      .TIFF       .TXT        NaN  ...       .TIFF        .TXT         NaN
44        NaN        NaN        NaN  ...         NaN         NaN         NaN
45        NaN        NaN        NaN  ...         NaN         NaN         NaN
46        NaN        NaN        NaN  ...         NaN         NaN         NaN
47         si        NaN        NaN  ...         NaN         NaN         NaN
48        NaN        NaN        NaN  ...         NaN         NaN         NaN

[38 rows x 9 columns]

In [120]:
M1oct

   Unnamed: 6 Unnamed: 7 Unnamed: 8
11         si         si        NaN
12        NaN        NaN        NaN
13         no         si        NaN
14         si         no        NaN
15         si         si        NaN
16         si         no        NaN
17         si         si        NaN
18         no         si        NaN
19         no         si        NaN
20         si         si        NaN
21         no        NaN        NaN
22        NaN        NaN        NaN
23        NaN        NaN        NaN
24        NaN        NaN        NaN
25        NaN        NaN        NaN
26        NaN        NaN        NaN
27        NaN        NaN        NaN
28        NaN        NaN        NaN
29        NaN        NaN        NaN
30        NaN        NaN        NaN
31        NaN        NaN        NaN
32        NaN        NaN        NaN
33        NaN        NaN        NaN
34        NaN        NaN        NaN
35        NaN        NaN        NaN
36        NaN        NaN        NaN
37        NaN        NaN        NaN
38        NaN        NaN        NaN
39        NaN        NaN        NaN
40        NaN        NaN        NaN
41        NaN        NaN        NaN
42        NaN        NaN        NaN
43      .TIFF       .TXT        NaN
44        NaN        NaN        NaN
45        NaN        NaN        NaN
46        NaN        NaN        NaN
47         si        NaN        NaN
48        NaN        NaN        NaN

In [168]:
g='gato'
g[0]

'g'

In [175]:
  M1nov=df.iloc[11:49,9:12]
  M1octsi=(M1oct=="si").sum().sum()
  M1octno=(M1oct=="no").sum().sum()
  M1octtotal=M1octsi+M1octno
  M1octporcentaje= M1octsi /(M1octsi + M1octno)*100

In [176]:
M1nov

   Unnamed: 9 Unnamed: 10 Unnamed: 11
11         si          no         NaN
12        NaN         NaN         NaN
13         si          no         NaN
14         si          no         NaN
15         si          no         NaN
16         si          no         NaN
17         si          no         NaN
18         si          no         NaN
19         si          no         NaN
20         si          no         NaN
21         si          no         NaN
22        NaN         NaN         NaN
23        NaN         NaN         NaN
24        NaN         NaN         NaN
25        NaN         NaN         NaN
26        NaN         NaN         NaN
27        NaN         NaN         NaN
28        NaN         NaN         NaN
29        NaN         NaN         NaN
30        NaN         NaN         NaN
31        NaN         NaN         NaN
32        NaN         NaN         NaN
33        NaN         NaN         NaN
34        NaN         NaN         NaN
35        NaN         NaN         NaN
36        NaN         NaN         NaN
37        NaN         NaN         NaN
38        NaN         NaN         NaN
39        NaN         NaN         NaN
40        NaN         NaN         NaN
41        NaN         NaN         NaN
42        NaN         NaN         NaN
43      .TIFF        .TXT         NaN
44        NaN         NaN         NaN
45        NaN         NaN         NaN
46        NaN         NaN         NaN
47        NaN         NaN         NaN
48        NaN         NaN         NaN